<div
  class="flex-container
  app-content"
  fxLayout="row"
  fxLayoutAlign="center center"
  fxLayoutWrap="wrap"
>
  <div fxFlex="400px">
    <md-card>
      <md-card-content>
        <h3> Hi there stranger! </h3>
        <md-tab-group
          colour="accent"
          [(selectedIndex)]="tabIndex"
        >
          <md-tab label="Login">
            <form [formGroup]="loginForm">
              <div class="app-card-content">
                <p>
                  <md-input-container
                    class="full-width"
                    dividerColor="accent"
                    floatPlaceholder="true"
                  >
                    <input
                      mdInput
                      type="email"
                      formControlName="email"
                      placeholder="Email Address"
                      [(ngModel)]="user.email"
                      [required]="true"
                    >
                  </md-input-container>
                </p>
                <p>
                  <md-input-container
                    class="full-width"
                    dividerColor="accent"
                  >
                    <input
                      mdInput
                      type="password"
                      formControlName="password"
                      placeholder="Password"
                      [(ngModel)]="user.password"
                      [required]="true"
                    >
                  </md-input-container>
                </p>
              </div>
              <div
                fxLayout="row"
                fxLayoutAlign="end"
              >
                <div>
                  <button
                    md-raised-button
                    color="accent"
                    type="submit"
                    [disabled]="!loginForm.valid"
                    (click)="onLogin()"
                  >
                    Login
                  </button>
                  <button
                    *ngIf="loginError"
                    md-button color="warn"
                    (click)="onReset()"
                  >
                    Reset Password
                  </button>
                </div>
              </div>
            </form>
          </md-tab>
          <md-tab label="Sign-up">
            <form [formGroup]="registerForm">
              <div class="app-card-content">
                <p>
                  <md-input-container
                    class="full-width"
                    dividerColor="accent"
                    floatPlaceholder="true"
                  >
                    <input
                      mdInput
                      type="text"
                      formControlName="name"
                      placeholder="Name"
                      [(ngModel)]="user.name"
                      [required]="true"
                    >
                  </md-input-container>
                </p>
                <p>
                  <md-input-container
                    class="full-width"
                    dividerColor="accent"
                    floatPlaceholder="true"
                  >
                    <input
                      mdInput
                      type="email"
                      formControlName="email"
                      placeholder="Email Address"
                      [(ngModel)]="user.email"
                      [required]="true"
                    >
                  </md-input-container>
                </p>
                <p>
                  <md-input-container
                    class="full-width"
                    dividerColor="accent"
                  >
                    <input
                      mdInput
                      type="password"
                      formControlName="password"
                      placeholder="Password"
                      [(ngModel)]="user.password"
                      [required]="true"
                    >
                  </md-input-container>
                </p>
              </div>
              <div
                fxLayout="row"
                fxLayoutAlign="end"
              >
                <span class="app-toolbar-filler"></span>
                <div>
                  <button
                    md-raised-button
                    color="accent"
                    [disabled]="!registerForm.valid"
                    (click)="onRegister()"
                  >
                    Sign-up
                  </button>
                </div>
              </div>
            </form>
          </md-tab>
        </md-tab-group>
      </md-card-content>
    </md-card>
  </div>
</div>
