<div class="flex-container app-content" fxLayout="row" fxLayoutAlign="center center" fxLayoutWrap="wrap">
  <div fxFlex="400px">
    <md-card style="height: 300px">
      <md-card-content>
        <md-tab-group colour="accent">
          <md-tab label="Login">
            <form #f="ngForm" (ngSubmit)="onLogin(f.value)" *ngIf="!loggedIn()">
              <div class="app-card-content">
                <p>
                  <md-input-container class="full-width" dividerColor="accent" floatPlaceholder="true">
                    <input
                      mdInput
                      type="email"
                      name="email"
                      placeholder="Email Address"
                      [(ngModel)]="credentials.email"
                      [required]="true"
                    >
                  </md-input-container>
                </p>
                <p>
                  <md-input-container class="full-width" dividerColor="accent">
                    <input
                      mdInput
                      type="password"
                      name="password"
                      placeholder="Password"
                      [(ngModel)]="credentials.password">
                  </md-input-container>
                </p>
              </div>
              <div fxLayout="row" fxLayoutAlign="end">
                <p class="app-error-msg"> {{errorMsg}} </p>
                <span class="app-toolbar-filler"></span>
                <div>
                  <button type="submit" md-raised-button color="accent">Login</button>
                </div>
              </div>
            </form>
          </md-tab>
          <md-tab label="Sign-up">
            <form #f="ngForm" (ngSubmit)="onLogin(f.value)" *ngIf="!loggedIn()">
              <div class="app-card-content">
                <p>
                  <md-input-container class="full-width" dividerColor="accent" floatPlaceholder="true">
                    <input
                      mdInput
                      type="text"
                      name="name"
                      placeholder="Name"
                      [(ngModel)]="credentials.name"
                      [required]="true"
                    >
                  </md-input-container>
                </p>
                <p>
                  <md-input-container class="full-width" dividerColor="accent" floatPlaceholder="true">
                    <input
                      mdInput
                      type="email"
                      name="email"
                      placeholder="Email Address"
                      [(ngModel)]="credentials.email"
                      [required]="true"
                    >
                  </md-input-container>
                </p>
                <p>
                  <md-input-container class="full-width" dividerColor="accent">
                    <input
                      mdInput
                      type="password"
                      name="password"
                      placeholder="Password"
                      [(ngModel)]="credentials.password">
                  </md-input-container>
                </p>
              </div>
              <div fxLayout="row" fxLayoutAlign="end">
                <p class="app-error-msg"> {{errorMsg}} </p>
                <span class="app-toolbar-filler"></span>
                <div>
                  <button type="submit" md-raised-button color="accent">Sign-up</button>
                </div>
              </div>
            </form>
          </md-tab>
        </md-tab-group>
      </md-card-content>
    </md-card>
  </div>
</div>
