<div
  class="flex-container
  app-content"
  fxLayout="row"
  fxLayoutAlign="center center"
  fxLayoutWrap="wrap"
>
  <div fxFlex="400px">
    <md-card>
      <md-card-content>
        <h3> Reset Password </h3>
        <form
          [formGroup]="appForm"
          (ngSubmit)="onReset(appForm.value)"
        >
          <md-input-container
            class="full-width"
            dividerColor="accent"
          >
          <input
            mdInput
            type="password"
            formControlName="password"
            placeholder="New password"
            [(ngModel)]="user.password"
            >
          </md-input-container>
          <div
            fxLayout="row"
            fxLayoutAlign="end"
          >
            <button
              md-raised-button
              color="accent"
              type="submit"
              [disabled]="!appForm.valid"
            >
              Reset Password
            </button>
          </div>
        </form>
      </md-card-content>
    </md-card>
  </div>
</div>
