<div class="flex-container app-content" fxLayout="row" fxLayoutAlign="center center" fxLayoutWrap="wrap">
  <div fxFlex="400px">
    <md-card>
      <md-card-content>
        <h3> Reset Password </h3>
        <form #f="ngForm">
          <p>
            <md-input-container class="full-width" dividerColor="accent">
              <input
                mdInput
                type="password"
                name="password"
                placeholder="Password"
                [(ngModel)]="user.password"
                [required]="true"
              >
            </md-input-container>
          </p>
          <div fxLayout="row" fxLayoutAlign="end">
            <button md-raised-button color="accent" (click)="onReset(f.value)">Reset Password</button>
          </div>
        </form>
      </md-card-content>
    </md-card>
  </div>
</div>
