<md-sidenav-container class="app-container">
  <div>
    <button
      class="app-fab"
      md-fab
      color="accent"
      (click)="sidenav.toggle()"
    >
      <md-icon class="app-fab-icon">
        keyboard_arrow_right
      </md-icon>
    </button>
  </div>

  <div>
    <md-spinner
      *ngIf="isLoading"
      class="app-spinner"
      color="accent"
    >
    </md-spinner>

  </div>

  <md-sidenav #sidenav class="app-sidenav">
    <h3 align="center">Filters</h3>

    <md-slide-toggle
      class="app-slide-margin"
      [checked]="myShows"
      (change)="myShowsClicked()"
    >
      My shows
    </md-slide-toggle>

    <h4 class="app-sidenav-heading">
      Show Status
    </h4>
    <hr>
    <md-checkbox
      [checked]="statusSelected"
      [indeterminate]="statusIndeterminate"
      [disableRipple]="false"
      (change)="allStatusClicked()"
      align="start"
    >
      All
    </md-checkbox>
    <div *ngFor="let status of statuses">
      <md-checkbox
        [checked]="status.selected"
        (change)="filterClicked(status)"
        [disableRipple]="false"
        align="start"
      >
        {{ status.name }}
      </md-checkbox>
    </div>

    <h4 class="app-sidenav-heading">
      Genres
    </h4>
    <hr>
    <md-checkbox
      [checked]="genresSelected"
      [indeterminate]="genresIndeterminate"
      [disableRipple]="false"
      (change)="allGenresClicked()"
      align="start"
    >
      All
    </md-checkbox>
    <div *ngFor="let genre of genres">
      <md-checkbox
        [checked]="genre.selected"
        [disableRipple]="false"
        (change)="filterClicked(genre)"
        align="start"
      >
        {{ genre.genre }}
      </md-checkbox>
    </div>
  </md-sidenav>

  <div
    #content
    class="flex-container app-content"
    fxLayout="row"
    fxLayoutAlign="center start"
    fxLayoutWrap="wrap"
  >
    <div
      *ngIf="(filteredShows?.length < 1) && !isLoading"
      class="app-spinner"
    >
      <img src="assets/ghost.gif">
    </div>


    <div class="app-card"
         fxFlex="380px"
         *ngFor="let show of filteredShows"
         in-viewport
         [inViewportOptions]="{ rootElement: content, partial: true }"
         (inViewportAction)="inViewport($event, show)"
    >
      <md-card *ngIf="show.display_card">
        <img md-card-image
             src="{{url}}{{show.image_url}}"
             alt="{{show.show_name}}"
             width="364" height="69"
        >
        <md-card-content>
          <div
            class="flex-container"
            fxLayout="row"
            fxLayoutAlign="start"
          >
            <div
              [ngClass]="{'app-selected-button':!show.display_overview,'':show.display_overview}"
              fxFlex="88px"
              fxFlexAlign="baseline"
            >
              <button
                md-button
                (click)="tabSelected('seasons', show)"
              >
                Seasons
              </button>
            </div>
            <div
              [ngClass]="{'app-selected-button':show.display_overview,'':!show.display_overview}"
              fxFlex="88px"
              fxFlexAlign="baseline"
            >
              <button
                md-button
                (click)="tabSelected('overview', show)"
              >
                Overview
              </button>
            </div>
          </div>
          <div
            *ngIf="!show.display_overview"
            class="app-card-content"
          >
            <div
              class="flex-container"
              fxLayout="row"
              fxLayoutAlign="start start"
              fxLayoutWrap="wrap"
            >
              <div
                *ngIf="show.seasons.data.length > 1"
                fxFlex="80px"
                fxFlexAlign="start"
              >
                <md-checkbox
                  [checked]="allSeasonChecked(show)"
                  [indeterminate]="show.seasons_indeterminate"
                  [disableRipple]="false"
                  (change)="allSeasonClicked(show)"
                  align="start"
                >
                  all
                </md-checkbox>
              </div>
              <div
                fxFlex="80px"
                fxFlexAlign="start"
                *ngFor="let season of show.seasons.data"
              >
                <md-checkbox
                  [checked]="season.selected"
                  [disableRipple]="false"
                  (change)="seasonClicked(show, season)"
                  align="start"
                >
                  {{ season.season }}
                </md-checkbox>
              </div>
            </div>
          </div>
          <div
            *ngIf="show.display_overview"
            class="app-card-content"
          >
            <p>{{show.overview}}</p>
          </div>
        </md-card-content>
        <md-card-footer>
          <div
            class="flex-container"
            fxLayout="row"
            fxLayoutAlign="start"
          >
            <div
              fxFlex="90px"
              fxFlexAlign="baseline"
            >
              <div class="app-tag-accent">
                {{ show.quality }}
              </div>
            </div>
            <div
              fxFlex="90px"
              fxFlexAlign="baseline"
            >
              <div class="app-tag-accent">
                {{ show.network }}
              </div>
            </div>
            <div
              fxFlex="90px"
              fxFlexAlign="baseline"
            >
              <div
                [ngClass]="{'app-tag-accent':show.status==='Continuing','app-tag-warn':show.status==='Ended'}"
              >
                {{ show.status }}
              </div>
            </div>
            <div
              fxFlex="90px"
              fxFlexAlign="baseline"
            >
              <div class="app-tag-accent">
                {{ show.selected_file_size | fileSize }}
              </div>
            </div>
          </div>
          <div
            class="flex-container"
            fxLayout="row"
            fxLayoutAlign="start"
          >
            <div
              fxFlex="90px"
              fxFlexAlign="baseline"
              *ngFor="let genre of show.genres.data let i=index"
            >
              <div
                *ngIf="i<4"
                class="app-tag-primary"
              >
                {{ genre.genre}}
              </div>
            </div>
          </div>
        </md-card-footer>
      </md-card>
    </div>
  </div>

</md-sidenav-container>
