<div class="app-header" fxLayout="row" fxLayoutAlign="end">
  <md-toolbar color="primary">
    <a md-button routerLink="/content" color="accent" class="app-toolbar-button">{{ title }}</a>
    <span class="app-toolbar-filler"></span>
    <p class="app-size-p">{{showsService.fileSizeInfo.selectedSize | fileSize}}</p>
    <button md-icon-button color="accent" *ngIf="loggedIn()" (click)="downloadRsyncFile()">
      <i class="material-icons">get_app</i>
    </button>
    <button md-icon-button color="accent" [mdMenuTriggerFor]="menu">
      <i class="material-icons">face</i>
    </button>
    <md-menu #menu="mdMenu" [overlapTrigger]="false">
      <button md-menu-item *ngIf="!loggedIn()" routerLink="/login">
        <md-icon>lock_open</md-icon>
        <span>Login</span>
      </button>
      <button md-menu-item *ngIf="loggedIn()" (click)="logout()" routerLink="/login">
        <md-icon>lock</md-icon>
        <span>Logout</span>
      </button>
    </md-menu>
  </md-toolbar>
</div>

<router-outlet></router-outlet>
