@import '~@angular/material/theming';
@include mat-core();

.app-toolbar-filler {
  flex: 1 1 auto;
}

.app-toolbar-button {
  font-size: 20px;
}

.mat-toolbar {
  background: map_get($mat-blue, 500);
  color: map_get($mat-amber, 500);
}

.h {
  font-size: 32px;
}
